body{
    background-color: #282a36;
    font-family: 'Roboto Mono', monospace;
}

h1{
    color: #8be9fd;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

p{
    color: #bd93f9;
    text-align: left
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #8be9fd;
}

footer{
    display: block;
}

button{
    background-color: #bd93f9;
    font-family: 'Roboto Mono',  monospace;
    border:none;
    color:#282a36;
    padding:7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.1s;
}

button:hover{
    background-color: #8be9fd;
    color: white;
}

img{
    width: 90px;
    height: 90px;
}

flex-container{
    display: flex;
    flex-wrap: wrap;
}

flex-container > div{
  background-color: red;
  width: 100px;
  border: 10px solid #8be9fd;
  padding: 10px;
  margin: 10px;
}

li{
    color:white;
    text-align: left;
}